<nav class="navbar navbar-default">
  <div class="container-fluid">
 
    <div class="navbar-header">
      <a class="navbar-brand">Logo</a>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a href="">Section</a></li>
        <li routerLinkActive="active"><a href="">Section</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a
            class="dropdown-toggle"
            role="button"
            aria-haspopup="true"
            aria-expanded="false">Action<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a  style="cursor: pointer;">Action</a></li>
            <li><a  style="cursor: pointer;">Action</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
